* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Futura";
  color: white;
  flex-direction: column;
}

header {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(240deg, #8562e6, #7bd4be);
  flex-direction: row;
  justify-content: center;
}

section {
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.card {
  background-color: rgba(255, 255, 255, 0.836);
  color: black;
  border-radius: 10px;
  padding: 10px;
  /* margin-top: 25px;
  margin-bottom: 25px; */
  margin: 25px;
}

/* #query-bar {
  min-width: 20vw;
} */

#map {
  width: 100%;
}
