<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MGVPKG5JF6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-MGVPKG5JF6');
  </script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if team_id %}
  <title>National Team Map - {{team_id}}</title>
  {% else %}
  <title>National Team Map</title>
  {% endif %}
  <link rel="icon" href="https://img.icons8.com/windows/32/000000/globe.png" />
  <link rel="stylesheet" href="../static/styles.css" />
  <link rel="stylesheet" href="../static/map/jquery-jvectormap-2.0.5.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo" />
  <script src="../static/map/jquery-3.5.1.js"></script>
  <script src="../static/map/jquery-jvectormap-2.0.5.min.js"></script>
  <script src="../static/map/jquery-jvectormap-world-mill.js"></script>
</head>

<body>
  <header>
    <div class="container">
      <div id="query" class="card">
        <div class="subtitle">
          <h2>
            Select a national team
          </h2>
        </div>
        <div id="query-container">
          <form id="team-query-form">
            <select id="team-selector">
              {% for team in team_data %} {% if team_id and team.id ==
                team_id%}
              <option selected="selected" value="{{team.id}}">{{team.name}}</option>
              {% else %}
              <option value="{{team.id}}">{{team.name}}</option>
              {% endif %} {% endfor %}
            </select>
            <input id="submit-button" type="submit" value="GO" />
          </form>
        </div>
        <div class="selected-team">
          {% for team in team_data %} {% if team_id and team.id == team_id%}
          <h2>
            <a class="team-url" target="_blank" href="{{team.team_wiki_url}}">
              {{team.name}}
            </a>
          </h2>
          {% endif %} {% endfor %}
        </div>
        <div id="list-container">
          <ul id="player-list"></ul>
        </div>
        <h6>Data retrieved July 22, 2020</h6>
      </div>
      <div id="map-container" class="card">
        <div id="world-map" style="width: 65vw; height: 80vmin;"></div>
        <h3>Map of the birthplaces of the players on the given national team</h3>
        <div id="legend">
          <div class="legend-section">
            <div class="color-box" style="background-color: #7bd4be; margin-right: 10px;"></div>
            National Team
          </div>
          <div class="legend-section">
            <div class="color-box" style="background-color: #0071A4; margin-right: 10px;"></div>
            Birthplaces of players
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- <div>
    <h3 id="name-credit">Created by <a target="_blank" href="https://www.linkedin.com/in/trivan-menezes/">Trivan
        Menezes</a></h3>
  </div> -->

  <section id="about">
    <div class="text-section">
      <h1>About</h1>
      <p>
        <!-- This project was inspired by the presentation from
        <a target="_blank" href="https://romancestudies.duke.edu/people/profile/laurent-dubois">Laurent Dubois</a> at
        the 2019 Princeton Soccer Conference. -->
        This project was inspired by a presentation about the ongoing discourse about
        <!-- The talk described how France's -->
        how France's
        imperial history is reflected in its national team through players with heritage from
        current and former colonies. He emphasized the role of these players in
        the recent triumphs of <i>Les Bleus</i>.
      </p>
      <div class="squad-container">
        <img id="france-squad" loading="lazy" src=" ../static/assets/france-squad.png" alt="France Squad">
      </div>
      <p>
        I was intrigued by this topic, and I wanted to see how other countries
        have leveraged their imperial histories to recruit top footballing talent...and
        I knew the process could be automated.
      </p>
      <p>
        Thus, I created a Python program to scrape (using
        <a target="_blank" href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">Beautiful Soup</a>)
        the roster data for each national team
        off of Wikipedia. The program then scrapes and records the birthplaces of the players on a given
        team, and this data is represented visually on the <a target="_blank" href="https://jvectormap.com/">map</a>
        above.
      </p>
      <div id="logos-container">
        <a class="logo-a" target="_blank" href="https://www.python.org/">
          <img id="py-logo" style="max-height: 20vh;" loading="lazy" src="../static/assets/python.png" alt="Python">
        </a>
        <a class="logo-a" target="_blank" href=" https://funthon.wordpress.com/2017/05/21/beautiful-soup-4/">
          <img id="bs-logo" style="max-height: 20vh;" src="../static/assets/beautiful-soup.png" loading="lazy"
            alt="Beautiful Soup">
        </a>
      </div>
      <p>
        The project yielded some interesting findings that go beyond showing how imperial states pull players from
        current and former colonies. Other findings include:
      <ul>
        <li>
          The stream of players who were born in former colonies but play for imperial states is counteracted by a
          stream of players who were born in an imperial state but choose to play for the country of their heritage
          <ul>
            <li>
              Zinedine Zidane is a prominant example of a world-class Algerian-born player who played for France, but
              Riyad Mahrez is a French-born player who plays for Algeria—and half of Algeria's national team was born in
              France
            </li>
            <li>
              The vast majority of players on Comoros' national team were born in France
            </li>
            <li>
              More players on the Suriname national team were born in the Netherlands than Suriname
            </li>
          </ul>
        </li>
        <li>
          The high number of Turkish national team players born in Germany reflects German policies of
          <a href="https://en.wikipedia.org/wiki/Turks_in_Germany#:~:text=This%20was%20partly%20due%20to,profile%20than%20the%20German%20population."
            target="_blank">
            labor recruitment and, later, family reunification
          </a>
        </li>
        <li>
          Teams from countries with a relatively less-developed football infrastructure but a wide diaspora have
          recruited heritage players born in other countries
          <ul>
            <li>
              E.g. Philippines, Thailand, Pakistan
            </li>
          </ul>
        </li>
      </ul>
      </p>

      <div class="squad-container">
        <img id="zizou" src=" ../static/assets/zizou-flag-opaque.png" loading="lazy" alt="Zizou">
      </div>

      <h1>Shortcomings</h1>
      <ul>
        <li>
          <p>
            Wikipedia lacks:
          <ul>
            <li>complete rosters for every national team</li>
            <li>birthplace information for every player</li>
          </ul>
          </p>
          <p>
            These pieces of information were simply ommitted in the scraping, so they are not reflected in the
            queries above
          </p>
        </li>
        <li>
          <p>
            The data only looks at the birthplaces of the players, not necessarily their heritage
          </p>
        </li>
      </ul>

    </div>
  </section>

  <section id="credit">
    <div>
      <h2>Credit</h2>
      <a class="credit-url" target="_blank"
        href="https://www.quora.com/What-would-France-national-football-team-do-without-African-origin-players">
        France vector art (traced from image)
      </a>
      <br>
      <a class="credit-url" target="_blank"
        href="https://qph.fs.quoracdn.net/main-qimg-20c935639fcd9792f35712debf86726f.webp">
        Zinedine Zidane vector art (traced from image)
      </a>
      <br>
      <a class="credit-url" target="_blank" href="https://funthon.wordpress.com/2017/05/21/beautiful-soup-4/">
        Beautiful Soup logo
      </a>
      <br>
      <a class="credit-url" target="_blank"
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Flag_of_Algeria.svg/900px-Flag_of_Algeria.svg.png">
        Algerian flag
      </a>
      <br>
      <a class="credit-url" target="_blank" href="https://jvectormap.com/">
        JavaScript map library (jVector Map)
      </a>
    </div>
    <!-- <div>
      <a target="_blank" href="https://github.com/ttmenezes/National-Team-Mapper">
        <h2 class="credit-url">Code</h2>
        <img class="credit-url" src="https://img.icons8.com/fluent/48/000000/github.png" />
      </a>
    </div> -->

  </section>

  <script src="../static/app.js"></script>

  {% if team_id %}
  <script type="text/javascript">
    const roster = JSON.parse('{{ roster_data | tojson | safe}}');
    const team_id = JSON.parse('{{ team_id | tojson | safe}}');

    const values = {};
    const playerOriginCount = {};

    roster.forEach((player) => {
      addPlayerToList(player);
      let pbcountry = player.birth_country;

      if (unitedKingdomEdgeCase(pbcountry)) pbcountry = 'GB';

      values[pbcountry] = '2';

      if (!playerOriginCount[pbcountry]) playerOriginCount[pbcountry] = 1;
      else playerOriginCount[pbcountry]++;
    });

    if (unitedKingdomEdgeCase(team_id)) values['GB'] = '1';
    else values[team_id] = '1';

    $('#world-map').vectorMap({
      map: 'world_mill',
      scaleColors: ['#C8EEFF', '#0071A4'],
      normalizeFunction: 'polynomial',
      hoverOpacity: 0.7,
      hoverColor: false,
      series: {
        regions: [
          {
            scale: {
              '1': '#A3E4D7',
              '2': '#02A0DA',
            },
            attribute: 'fill',
            values: values,
          },
        ],
      },
      onRegionTipShow: function (e, el, code) {
        if (playerOriginCount[code])
          el.html(el.html() + ' (players: ' + playerOriginCount[code] + ')');
        else el.html(el.html() + ' (players: ' + 0 + ')');
      },
    });
  </script>
  {% else %}
  <script>
    $(function () {
      $('#world-map').vectorMap({ map: 'world_mill' });
    });
  </script>
  {% endif %}
</body>

</html>