<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>National Team Map</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link
      rel="stylesheet"
      href="../static/map/jquery-jvectormap-2.0.5.css"
      type="text/css"
      media="screen"
    />
    <script src="../static/map/jquery-3.5.1.js"></script>
    <script src="../static/map/jquery-jvectormap-2.0.5.min.js"></script>
    <script src="../static/map/jquery-jvectormap-world-mill.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="query-bar" class="card">
          <div class="subtitle">
            <h2>
              Select a national team
            </h2>
          </div>
          <div>
            <form id="team-query-form">
              <select autofocus id="team-selector">
                {% for team in team_data %} {% if team_id and team.id ==
                team_id%}
                <option selected="selected" value="{{team.id}}"
                  >{{team.name}}</option
                >
                {% else %}
                <option value="{{team.id}}">{{team.name}}</option>
                {% endif %} {% endfor %}
              </select>
              <input type="submit" value="Submit" />
            </form>
          </div>
          <div id="list-container">
            <ul id="player-list"></ul>
          </div>
        </div>
        <div id="map-container" class="card">
          <!-- <div id="world-map" style="width: 1200px; height: 850px;"></div> -->
          <div id="world-map" style="width: 65vw; height: 80vh;"></div>
        </div>
      </div>
    </header>

    <section class="about"></section>

    <script src="../static/app.js"></script>

    {% if roster_data %}
    <script type="text/javascript">
      const roster = JSON.parse('{{ roster_data | tojson | safe}}');
      const team_id = JSON.parse('{{ team_id | tojson | safe}}');

      const values = {};
      const playerOriginCount = {};

      roster.forEach((player) => {
        addPlayerToList(player);
        const pbcountry = player.birth_country;
        values[pbcountry] = '2';
        if (!playerOriginCount[pbcountry]) playerOriginCount[pbcountry] = 1;
        else playerOriginCount[pbcountry]++;
      });

      values[team_id] = '1';

      $('#world-map').vectorMap({
        map: 'world_mill',
        scaleColors: ['#C8EEFF', '#0071A4'],
        normalizeFunction: 'polynomial',
        hoverOpacity: 0.7,
        hoverColor: false,
        series: {
          regions: [
            {
              scale: {
                '1': '#A3E4D7',
                '2': '#02A0DA',
              },
              attribute: 'fill',
              values: values,
            },
          ],
        },
        onRegionTipShow: function (e, el, code) {
          if (playerOriginCount[code])
            el.html(el.html() + ' (players: ' + playerOriginCount[code] + ')');
          else el.html(el.html() + ' (players: ' + 0 + ')');
        },
      });
    </script>
    {% else %}
    <script>
      $(function () {
        $('#world-map').vectorMap({ map: 'world_mill' });
      });
    </script>
    {% endif %}
  </body>
</html>
